#success_no_errors,
#error_machinekit,
#error_server_down,
#error_executing,
#machine_vitals,
#axes,
#power p,
#power label,
#estop p,
#estop label,
#axes,
#controls,
#machine_power,
#machine_home_axes,
#manual_control_select,
#manual_control,
#program_control,
#program_control button,
#spindle_control,
#spindle_control_speed,
#feed_override_control,
#spindle_override_control,
#max_velocity_control,
#interp,
#interp p,
#task_mode,
#task_mode p,
#mdi_command {
    display: none;
}



/* If no errors show machine vitals and no errors message */
body.success_no_errors #success_no_errors,
body.success_no_errors #machine_vitals,
body.success_no_errors #power label,
body.success_no_errors.power_on #power_on,
body.success_no_errors.power_off #power_off,
body.success_no_errors.no_estop #estop_off,
body.success_no_errors.estop #estop_on,
body.success_no_errors #estop label,
body.success_no_errors #axes,
body.success_no_errors #controls,
body.success_no_errors #interp,
body.success_no_errors.INTERP_IDLE #idle,
body.success_no_errors.INTERP_PAUSED #paused,
body.success_no_errors.INTERP_READING #reading,
body.success_no_errors.INTERP_WAITING #waiting,
body.success_no_errors #task_mode,
body.success_no_errors.MODE_MANUAL #manual,
body.success_no_errors.MODE_MDI #mdi,
body.success_no_errors.MODE_AUTO #auto,
body.success_no_errors.power_on.no_estop.INTERP_PAUSED #program_resume,
body.success_no_errors.power_on.no_estop.INTERP_READING #program_stop,
body.success_no_errors.power_on.no_estop.INTERP_READING #program_pause,
body.success_no_errors.power_on.no_estop.INTERP_PAUSED #program_stop,
body.success_no_errors.power_on.no_estop.INTERP_WAITING #program_pause,
body.success_no_errors.power_on.no_estop.INTERP_WAITING #program_stop,
body.success_no_errors.power_on.no_estop.INTERP_IDLE #program_start {
    display: block;
}

body.success_no_errors.no_estop #machine_power,
body.success_no_errors.power_on.no_estop #machine_home_axes,
body.success_no_errors.power_on.no_estop #manual_control_select,
body.success_no_errors.power_on.no_estop #manual_control,
body.success_no_errors.power_on.no_estop.all_homed #program_control,
body.success_no_errors.power_on.no_estop.all_homed #mdi_command,
body.success_no_errors.power_on.no_estop #spindle_control,
body.success_no_errors.power_on.no_estop #spindle_control_speed,
body.success_no_errors.power_on.no_estop #feed_override_control,
body.success_no_errors.power_on.no_estop #spindle_override_control,
body.success_no_errors.power_on.no_estop #max_velocity_control {
    display: flex;
}

body.error_executing #error_executing {
    display: block;
}

/* If class error_machinekit is added to the body display machinekit error*/
body.error_machinekit #error_machinekit {
    display: block;
}

/* Also dont show machine vitals*/
body.error_machinekit #machine_vitals {
    display: none;
}

/* If server_down display server down error */
body.error_server_down #error_server_down {
    display: block;
}

/* Also dont show machine vitals*/
body.error_server_down #machine_vitals {
    display: none;
}