<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/javascript/machinekit.js"></script>
    <link href="//css.underdark.nl/0.2/base.css" rel="stylesheet" />
    <link href="//css.underdark.nl/0.2/layout.css" rel="stylesheet" />
    <link href="//css.underdark.nl/0.2/module.css" rel="stylesheet" />
    <link href="//css.underdark.nl/0.2/theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/sortable.js"></script>
</head>

<body>
    <header id="nav">
        <div>
            <div class="logo">
                <a href="/">CNC Controller</a>
                <p>Webinterface voor CNC frees</p>
            </div>
            <nav>
                <ul>
                    <li><a onclick="machinekit.navigation('controller')">Controller</a></li>
                    <li><a onclick="machinekit.navigation('file_manager')">File manager</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <label>Errors</label>
            <div id="errors">
                <p class="success" id="no-critical-errors">No critical errors</p>
                <p class="error" id="machinekit-down">Machinekit is down. Start machinekit and then restart the server.
                </p>
                <p class="error" id="invalid-api-key">Invalid api key</p>
            </div>
            <div id="runtime-errors">
            </div>
        </section>
        <section id="section-vitals">
            <label>File</label>
            <p id="current-file"></p>
            <p id="no-file-selected" class="error">No file selected. Please select a file</p>
            <table id="status">
                <caption>
                    Status
                </caption>
                <thead>
                    <tr>
                        <th>ESTOP</th>
                        <th>Power</th>
                        <th>Interp state</th>
                        <th>Task mode</th>
                        <th>Spindle speed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="status-tbody">
                        <td class="success" id="estop-disabled">Disabled</td>
                        <td class="error" id="estop-enabled">Enabled</td>
                        <td class="success" id="power-on">On</td>
                        <td class="error" id="power-off">Off</td>
                        <td id="interp-idle">idle</td>
                        <td id="interp-paused">paused</td>
                        <td id="interp-waiting">waiting</td>
                        <td id="interp-reading">reading</td>
                        <td id="task-mdi">mdi</td>
                        <td id="task-auto">auto</td>
                        <td id="task-manual">manual</td>
                        <td id="spindle-speed"></td>
                    </tr>
                </tbody>
            </table>

            <table id="3-axes-table">
                <caption>
                    Axes
                </caption>
                <thead>
                    <tr id="thead_axes">
                        <th>X</th>
                        <th>Y</th>
                        <th>Z</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="tbody_axes">
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>